:root {
  --primary-text-color: #2196f3;
  --secender-text-color: #ffffff;
  --third-text-color: #212121;
}

.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header .header__container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.header__nav {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 95px;
}

.header__nav .header__nav-list .header__nav-item {
  width: 100%;
  margin-left: 50px;
  width: 78px;
}

.header__nav .header__nav-list .header__nav-item:first-child {
  margin-left: 0;
}

.header__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--third-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover,
.header__nav-link :focus {
  color: var(--primary-text-color);
}

.active-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.active-portfolio:after {
  content: "";
  position: relative;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 68px;
  height: 4px;
  background-color: var(--primary-text-color);
  border-radius: 2px;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.active:after {
  content: "";
  width: 48px;
  height: 4px;
  background: var(--primary-text-color);
  border-radius: 2px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__contacts .contacts__list-mail {
  margin-right: 50px;
}

.header__contacts .contacts__list-mail:hover,
.header__contacts .contacts__list-mail :focus {
  fill: var(--primary-text-color);
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link :focus {
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

.header-phone-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.footer {
  padding-top: 95px;
  padding-bottom: 95px;
  background: #2f303a;
}

.contact__footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  width: 203px;
  display: block;
}

.address {
  color: #ffffff;
}

.footer__wrap-address {
  font-style: normal;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__block-center {
  margin-left: 70px;
}

.footer__paragraph {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  margin-right: 12px;
  outline: none;
  padding-left: 15px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
}

.footer__form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 200px;
  background-color: var(--primary-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secender-text-color);
  margin-top: 36px;
  border: none;
  cursor: pointer;
}

.footer__form-svg {
  fill: var(--secender-text-color);
}

.form__wrap-btn {
  margin-left: 10px;
}

.logo-footer {
  color: var(--secender-text-color);
  padding-bottom: 20px;
  display: block;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo__header {
  color: var(--third-text-color);
}

.logo__color {
  color: var(--primary-text-color);
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
  max-width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  z-index: 1000;
  padding: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.wrapper__label-input {
  margin-bottom: 10px;
}

.wrapper__label-input:last-child {
  margin-bottom: 0;
}

.wrapper__svg {
  display: block;
  position: relative;
}

.input__column {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__column:focus {
  border: 1px solid var(--primary-text-color);
}

.input__column:focus + .column__svg {
  fill: var(--primary-text-color);
}

.label__text {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.column__svg {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
}

.modal__textarea:focus {
  border-color: var(--primary-text-color);
}

.modal__textarea:focus::-webkit-input-placeholder {
  font-size: 16px;
}

.modal__textarea:focus:-ms-input-placeholder {
  font-size: 16px;
}

.modal__textarea:focus::-ms-input-placeholder {
  font-size: 16px;
}

.modal__textarea:focus::placeholder {
  font-size: 16px;
}

.wrapper__checkbox {
  margin-bottom: 30px;
  margin-top: 20px;
}

.checkbox__input:checked + .checkbox__label > .chackbox__wrap-svg {
  background-color: var(--primary-text-color);
  border: transparent;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.chackbox__wrap-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  border: 2px solid var(--third-text-color);
  border-radius: 2px;
  margin-right: 5px;
}

.chackbox__svg {
  fill: var(--secender-text-color);
}

.chackbox__wrap-link {
  margin-left: 5px;
}

.chackbox-link {
  color: var(--primary-text-color);
  text-decoration: underline;
}

.wrapper__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__send {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary-text-color);
  color: var(--secender-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--primary-text-color);
  outline: none;
  cursor: pointer;
}

.btn__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--secender-text-color);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.btn__close :hover {
  fill: var(--primary-text-color);
}

.cociality__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  margin-left: 10px;
}

.social__item:first-child {
  margin-left: 0;
}

.social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.main__cocial-link {
  background-color: white;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__cocial-link:hover, .main__cocial-link:focus {
  background-color: var(--primary-text-color);
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover {
  background-color: var(--primary-text-color);
}

.main__cocial-link:hover .main__link-svg,
.main__cocial-link:focus .main__link-svg {
  fill: #ffffff;
}

.social__link-svg {
  width: 20px;
  height: 20px;
}

.footer__link-svg {
  fill: #ffffff;
}

.container__customers {
  padding-top: 95px;
  padding-bottom: 95px;
}

.costomers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.costomers__item {
  -ms-flex-preferred-size: calc(100% / 6 - 30px);
      flex-basis: calc(100% / 6 - 30px);
}

.costomers__link {
  fill: #afb1b8;
}

.costomers__link:hover .costomers__icon,
.costomers__link:focus .costomers__icon {
  fill: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

.costomers__icon {
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section__order {
  background-color: #c4c4c4;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  padding: 200px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section__order .primary-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--secender-text-color);
}

.order__button {
  background-color: var(--primary-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secender-text-color);
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order__button:hover, .order__button:focus {
  background-color: white;
  color: black;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--third-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.section__development {
  padding-bottom: 95px;
}

.development__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.development__list .development__items {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  position: relative;
  z-index: -1;
}

.development__wrap-img {
  position: relative;
}

.development__paragraph {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.section__planning {
  padding: 95px 0;
}

.section__planning .planning__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.section__planning .planning__list:last-child {
  margin-bottom: 0;
}

.planning__items {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
}

.planning__items .planning__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 10px;
}

.planning__items .planning__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.section__command {
  background: #f5f4fa;
  padding-bottom: 95px;
  padding-top: 95px;
}

.command__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.command__list .command__items {
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
}

.command__wrap-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: var(--secender-text-color);
}

.command__wrap-info .command__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--third-text-color);
  margin-bottom: 10px;
}

.command__wrap-info .command__speciality {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  margin-bottom: 16px;
}

.portfolio__container {
  padding-bottom: 95px;
  padding-top: 95px;
}

.portfolio__list-nav {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__nav-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.67;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__nav-btn:hover, .portfolio__nav-btn:focus {
  background-color: var(--primary-text-color);
  color: var(--secender-text-color);
  border: 4px solid var(--primary-text-color);
  border: none;
}

.portfolio__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__card-items {
  width: calc(100% / 3 - 20px);
}

.portfolio__card-items:hover, .portfolio__card-items:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card-items:hover .portfolio__card-paragraphs {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__wrap-img {
  position: relative;
  overflow: hidden;
}

.portfolio__card-paragraphs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: var(--primary-text-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__wrap-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  color: #212121;
  margin-bottom: 5px;
}

.portfolio__card-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.34;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */