.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;

  color: var(--third-text-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  margin: 0;

  font-family: "Roboto", sans-serif;
}
.section {
  margin: 0 auto;
}
