.section__command {
  background: #f5f4fa;

  padding-bottom: 95px;
  padding-top: 95px;
}
.command__list {
  display: flex;
  justify-content: space-between;
  .command__items {
    border-radius: 8px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.command__wrap-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: var(--secender-text-color);
  .command__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--third-text-color);
    margin-bottom: 10px;
  }
  .command__speciality {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    margin-bottom: 16px;
  }
}
