.logo {
  @media screen and (max-width: 480px) {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-size: 24px;
  }
  @media screen and (min-width: 480px) {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
.logo__color {
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .logo__header {
    color: var(--third-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
  }

  .logo__color {
    color: var(--primary-text-color);
  }
}
