.logo-footer {
  color: var(--secender-text-color);
  padding-bottom: 20px;
  display: block;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.logo__header {
  color: var(--third-text-color);
}
.logo__color {
  color: var(--primary-text-color);
}
