@media screen and (min-width: 480px) {
  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
  .logo__color {
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
  }
  .logo__header {
    color: var(--third-text-color);
  }
  .logo__color {
    color: var(--primary-text-color);
  }
}
