.section__order {
  background-color: #c4c4c4;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .primary-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--secender-text-color);
  }
}
.order__button {
  background-color: var(--primary-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secender-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: white;
    color: black;
  }
}
