.section__planning {
  @media screen and (max-width: 479px) {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
  }
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 480px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 95px 0;
  }
}

.planning__list {
  // display: flex;
  // justify-content: space-between;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.planning__items {
  @media screen and (max-width: 479px) {
    text-align: center;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 5px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 15px);
  }
}
// flex-basis: calc(100% / 4 - 30px);

.planning__wrap-img {
  @media screen and (max-width: 479px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.planning__img {
  height: 120px;

  width: 100%;
  background-color: #f5f4fa;
}

.planning__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 10px;
  @media screen and (min-width: 480px) {
    text-align: center;
  }
}
.planning__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
