.footer {
  padding-top: 95px;
  padding-bottom: 95px;
  background: #2f303a;
}
.contact__footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  width: 203px;
  display: block;
}
.address {
  color: #ffffff;
}

.footer__wrap-address {
  font-style: normal;
}
.footer__container {
  display: flex;
}

.footer__block-center {
  margin-left: 70px;
}

.footer__paragraph {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

// .footer-social-item-link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100%;
// }

.footer__form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.form__title {
  display: flex;
}
.form__mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  margin-right: 12px;
  outline: none;
  padding-left: 15px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
}

.footer__form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  background-color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secender-text-color);
  margin-top: 36px;
  border: none;
  cursor: pointer;
}
.footer__form-svg {
  fill: var(--secender-text-color);
}
.form__wrap-btn {
  margin-left: 10px;
}
