.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
  .header__container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}

.header__nav {
  height: 80px;
  display: flex;
  align-items: center;
  .header__nav-list {
    display: flex;
    padding: 0;
    margin-left: 95px;
    .header__nav-item {
      width: 100%;
      margin-left: 50px;
      width: 78px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.header__nav-link {
  display: flex;
  align-items: center;
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--primary-text-color);
  }
}

.active-portfolio {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  &:after {
    content: "";
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 68px;
    height: 4px;
    background-color: var(--primary-text-color);
    border-radius: 2px;
  }
}

.active {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  &:after {
    content: "";
    width: 48px;
    height: 4px;
    background: var(--primary-text-color);
    border-radius: 2px;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  height: 80px;
  .contacts__list-mail {
    margin-right: 50px;
    &:hover,
    :focus {
      fill: var(--primary-text-color);
    }
  }
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  fill: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
  }
}

.header-phone-letter {
  display: flex;
  margin-left: 10px;
}
