.portfolio__container {
  padding-bottom: 95px;
  padding-top: 95px;
}
.portfolio__list-nav {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio__nav-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.67;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  margin-left: 8px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--primary-text-color);
    color: var(--secender-text-color);
    border: 4px solid var(--primary-text-color);
    border: none;
  }
}

.portfolio__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__card-items {
  width: calc(100% / 3 - 20px);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__card-items:hover .portfolio__card-paragraphs {
  transform: translateY(0);
}
.portfolio__wrap-img {
  position: relative;
  overflow: hidden;
}
.portfolio__card-paragraphs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: var(--primary-text-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__wrap-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  .portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    color: #212121;
    margin-bottom: 5px;
  }

  .portfolio__card-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.34;
    color: #757575;
  }
}
